.banner{
	display: flex;
	justify-content: center;
	padding-top: 239px;
	padding-bottom: 151px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	h2{
		margin-bottom: 26px;
		font-size: 35px;
		font-weight: 400;
	}
	&__title-section{
		margin-bottom: 52px;
	}
	&__btns-section{
		a{
			margin: 0 13px;
		}
	}
}