.footer{
	padding-top: 98px;
	padding-bottom: 85px;
	font-family: "Roboto", sans-serif;
	background-color: $gray;

	h4{
		font-size: 20px;
	}

	p{
		font-family: inherit;
	}

	a{
		text-decoration: none;
		color: inherit;
		transition: .4s color;
		&:hover,
		&:focus{
			color: darken($accentColor, 10%);
		}
	}

	&__logo{
		a{
			position: relative;
			&::before{
			content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 14px;
				height: 2px;
				background-color: $mainColor;
				transition: .4s background-color;
			}
			&:hover,
			&:focus{
				&::before{
					background-color: darken($accentColor, 10%);
				}
			}
		}
		
	}

	&__col{
		h4{
			margin-bottom: 44px;
		}
	}

	&__list{
		letter-spacing: .1px;
		li{
			margin-bottom: 9px;
		}
	}
	&__blog-list{
		line-height: 1.34;
		letter-spacing: .1px;
		li{
			margin-bottom: 19px;
		}
	}
	&__form{
		margin-top: 31px;
	}
}