.header{
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	margin: auto;

	&-logo{
		position: relative;
		font-family: 'Arvo', serif;
		font-weight: 400;
		text-decoration: none;
		font-size: 40px;
		color: $mainColor;
		&::before{
			position: absolute;
			bottom: 6px;
			left: 7px;
			content: "";
			width: 14px;
			height: 4px;
			background-color: $mainColor;
		}
	}

	&-nav{
		position: relative;
		&__list{
			position: fixed;
			top: 0;
			bottom: auto;
			overflow: hidden;
			left: 0;
			height: 0;
			right: 0;
			margin: auto;
			background-color: $mainColor;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transition: .4s;
			font-size: 50px;
			li{
				margin-bottom: 20px;
				text-align: center;
			}
			a{
				color: $lightGray;
				text-decoration: none;
				
				transition: .4s color;
				&:hover,
				&:focus{
					color: $accentColor;
				}
			}
			&.active{
				bottom: 0;
				overflow: auto;
				height: auto;
			}
		}

		&__btn{
			position: relative;
			top: -7px;
			right: -5px;
			display: flex;
			flex-direction: column;
			width: 48px;
			height: 32px;
			cursor: url(../images/cursor.png) -4 0, auto;
			border: none;
			background-color: transparent;
			z-index: 4;
			&:focus{
				outline: transparent;
			}

			.line{
				width: 36px;
				height: 6px;
				background-color: $mainColor;
				border-radius: 2px;
				transition: .4s;
				&:nth-child(2){
					margin-top: 6px;
					margin-bottom: 6px;
				}
			}
			&.active{
				.line{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					transform-origin: 50% 50%;
					background-color: $lightGray;
					&:first-child{
						transform: rotate(45deg);
					}
					&:last-child{
						transform: rotate(-45deg);
					}
					&:nth-child(2){
						opacity: 0;
					}
				}
			}
		}
	}
}