// html, body {
// 	min-height: 100%;
// }

body{
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: $mainColor;
}

.main{
	flex: 1 1;
}

// .footer{
// 	flex: 1 0;
// }

.btn{
	display: inline-block;
	padding: 11px 15px;
	font-size: 18px;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: $btnColor;
	background-color: $mainColor;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: .4s background-color;
	text-decoration: none;
	min-width: 160px;
	&:hover{
		background-color: lighten($mainColor, 5%);
	}
	&:focus{
		outline: transparent;
		background-color: lighten($mainColor, 3%);
	}
}

h1, h2, h3, h4 {
	font-family: 'Arvo', serif;
	font-weight: 700;
}

h1, .h1 {
	font-size: 40px;
}

h2, .h2 {
	font-size: 25px;
}

h3, .h3 {
	font-size: 20px;
}

h4, .h4{
	font-size: 18px;
}


.slick{
	&-slide{
		&:focus{
			outline: transparent;
		}
	}
}